.btn {
  margin-left: 20px !important;
}
.select {
  padding-top: 2px;
  padding-bottom: 4px;
  margin-left: 10px;
}
.header {
  margin-left: 10px;
  color: black
}

.navs {
  color: white;
  margin: 0 auto;
}


